/* ArticleCard.css */
.article-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 12px;
  border-radius: 6px;
  background:#ffffff;
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.clause-item {
  padding-left: 10px;
  border-left: 3px solid #deb974;
}
